/interface ethernet
set [ find default-name=ether1 ] comment="VIA MTR1" mtu=5000
set [ find default-name=ether2 ] comment="VIA MTR2"
/interface bonding
add arp-ip-targets=192.168.11.1,192.168.12.1 link-monitoring=arp name="[BONDING] - RO-MNJ01" slaves=ether1,ether2
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/tool user-manager customer
set admin access=own-routers,own-users,own-profiles,own-limits,config-payment-gw
/ip address
add address=192.168.11.2/30 comment=DUMMY-MTR1 interface=ether1 network=192.168.11.0
add address=10.10.10.2/30 comment="P2P RO-MNJ1" interface="[BONDING] - RO-MNJ01" network=10.10.10.0
add address=192.168.12.2/30 comment=DUMMY-MTR2 interface=ether2 network=192.168.12.0
/ip dhcp-client
# DHCP client can not run on slave interface!
add disabled=no interface=ether1
/system identity
set name=RO-CLIENT
/tool romon
set enabled=yes secrets=123
/tool user-manager database
set db-path=user-manager
